* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav, footer {
    width: 100%;
    overflow: hidden;
}

body {
    background-image: url('img/home.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    section {
        background-color: #000000;
    }
}

nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 0;
}

#title {
    display: block;
    padding: 0.5rem 1rem;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4rem;
    color: #ffffff;
    background-color: #404040;
    transition: 0.5s;
}

.green {
    font-family: inherit;
    font-size: inherit;
    color: #b5d854;
}

#title.scrolled {
    font-size: 1.5rem;
}

@media (min-width: 684px) {
    #title.scrolled {
        display: inline-block;
    }
}

@media (min-width: 977px) {
    #title:not(.scrolled) {
        display: inline-block;
    }
}

#buttons {
    display: block;
    vertical-align: top; /* Needed, despite what your IDE may tell you */
    background-color: #b5d854;
    transition: 0.2s;
}

@media (min-width: 684px) {
    #buttons.scrolled {
        display: inline-block;
    }
}

@media (min-width: 977px) {
    #buttons:not(.scrolled) {
        display: inline-block;
    }
}

#buttons.display-transitioning {
    opacity: 0;
}

#buttons:not(.display-transitioning) {
    opacity: 1;
}

.button {
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem;
    border: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

#buttons > .button:not(.social) {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.5rem;
}

.social {
    line-height: 0;
}

.social-icon {
    height: 33px;
    fill: #000000;
}

@media (max-width: 475px) {
    #buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #buttons .button:not(.social) {
        order: 1;
    }

    #buttons::before {
        content: "";
        order: 2;
        flex-basis: 100%;
        height: 0;
    }

    #buttons .social {
        order: 3;
    }
}

#subtitle {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-shadow: 0.2rem 0.2rem 0 #000000;
    color: #ffffff;
    opacity: 0.8;
}

#reactapp {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    color: #404040;
}

@media (prefers-color-scheme: dark) {
    .section-title {
        color: #b5d854;
    }
}

.text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.01rem 1rem;
    font-size: 1.3rem;
    color: #404040;
}

@media (prefers-color-scheme: dark) {
    .text {
        color: #ffffff;
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 1rem;
}

@media (min-width: 600px) {
    .grid-item {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .grid-item {
        width: 33.33333%;
    }
}

.card {
    position: relative;
    border: 0.2rem solid #b5d854;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: transform 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:hover {
  transform: scale(1.03);
}

.info {
    width: 100%;
    display: flex;
    color: #404040;
    background-color: #b5d854;
}

@media (prefers-color-scheme: dark) {
    .info {
        color: #b5d854;
        background-color: #000000;
    }
}

.title {
    display: inline-block;
    flex-grow: 1;
    padding: 0.75rem;
}

.language {
    display: inline-block;
    padding: 0.75rem;
    text-align: right;
    -webkit-text-stroke: 0.05em #000000;
}

.featured-image {
    display: block;
    width: 100%;
    height: auto;
}

.desc {
    padding: 0.5rem 1rem;
    line-height: 1.5;
    font-size: 1.1rem;
    text-align: justify;
    hyphens: auto;
    color: #404040;
    flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
    .desc {
        color: #f1f1f1;
    }
}

.site {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: #404040;
    background-color: #b5d854;
}

.site:hover {
    opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
    .site {
        color: #b5d854;
        background-color: #000000;
    }
}

.site-left {
    display: inline-block;
    width: 50%;
}

.site-right {
    display: inline-block;
    width: 50%;
}

.form-label {
    display: block;
    color: #404040;
}

@media (prefers-color-scheme: dark) {
    .form-label {
        color: #ffffff;
    }
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.0rem;
    border: none;
    background-color: #f1f1f1;
}

.form-send {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    color: #404040;
    background-color: #b5d854;
}

@media (prefers-color-scheme: dark) {
    .form-send {
        color: #b5d854;
        background-color: #000000;
    }
    .form-send:hover {
        opacity: 0.8;
    }
}

#copyright {
    text-align: center;
    color: #f1f1f1;
    background-color: #404040;
}

@media (prefers-color-scheme: dark) {
    #copyright {
        background-color: #000000;
    }
}
