$min-width-single-row-unscrolled: 977px;
$min-width-single-row-scrolled: 684px;
$max-width-inline-socials: 476px;

// Exports the variables directly to JavaScript
:export {
  minWidthSingleRowUnscrolled: $min-width-single-row-unscrolled;
  minWidthSingleRowScrolled: $min-width-single-row-scrolled;
}
