$min-width-single-row-unscrolled: 1044px;
$min-width-single-row-scrolled: 751px;
$max-width-inline-socials: 543px;

// Exports the variables directly to JavaScript
:export {
  minWidthSingleRowUnscrolled: $min-width-single-row-unscrolled;
  minWidthSingleRowScrolled: $min-width-single-row-scrolled;
}
